{% extends "layouts/master.html" %}
 
{% block title %}
Appointment
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            
            <h2 class="display-5 fw-bold">We'd love to connect with you.</h2>
            <h3 class="display-6 fw-bold">{{setting.email}}</h3>
            <h4 class="display-7 fw-bold">{{setting.address}}</h4>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="firstName" class="display-7 fw-bold">First Name</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName" class="display-7 fw-bold">Last Name</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
                <div class="form-group">
                    <label for="email" class="display-7 fw-bold">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="Department" class="display-7 fw-bold">Department</label>
                    <input type="text"class="form-control" id="department" >
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
<br>

{% endblock %}