
{%load static %}
<footer>
    <br>
    <section class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>About Us</h2>
                        <p> {{ setting.about |truncatewords:24 |safe}}</p>
                        <ul class="social">
                            <li><a href="{{setting.facebook}}"><i class="icofont-facebook" alt="Facebook"></i></a></li>
                            <li><a href="{{setting.instagram}}"><i class="icofont-instagram" alt="Instgram"></i></a></li>
                            <li><a href="{{setting.twitter}}"><i class="icofont-twitter"alt="Twitter"></i></a></li>
                            <li><a href="{{setting.linkedin}}"><i class="icofont-linkedin" alt="Linkedin"></i></a></li>
                            <li><a href="{{setting.youtube}}"><i class="icofont-youtube" alt="Youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Open Hours</h2>
                        
                        <ul class="time-sidual">
                            <li class="day">Saturday : 9.00am-1.30pm</li>
                            <li class="day">Monday - Friday : 9.00am-5.00pm </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2><b> Newsletter</b></h2>
                        <p>Subscribe to our newsletter to get all our news in your inbox..</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Your email address'" required="" type="email">
                            <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>     
    <div class="copyright"></div>
        <div class="footer-buttom">
            <div class="container">
                <div class="row">
                    <div class="copyright-content">
                    <p>© Copyright 2024  |  All Rights Reserved by  Rejish Khanal </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</footer>