{% load static %}
    <header class="header" >
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-12">
                        <ul class="top-link">
                            <li><a href="{% url  'about' %}">About</a></li>
                            <li><a href="{% url  'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-7 col-12">
                        <ul class="top-contact">
                            <li><i class="fa fa-phone"></i>{{setting.0.phone}}</li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:{{setting.0.email}}"><span>{{setting.0.email}}</span></a></li>                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{{ setting.0.logo }}" alt="{{ setting.0.name }}"></a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-9 col-12">
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li><a href="{% url 'home' %}">Home </a></li>
                                        <li><a href="{% url 'services' %}">Our Services </a></li>
                                        <li><a href="{% url 'doctor' %}">Find a doctor </a></li>
                                        <li><a href="{% url 'overview' %}">Overview<i ></i></a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12">
                            <div class="get-quote">
                                <a href="{% url 'appointment' %}" class="btn btn-primary">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </header>





