{% load static %}
<section>
    <header class="header">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-12">
                        <ul class="top-link">
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-7 col-12">
                        <ul class="top-contact">
                            <li><i class="fa fa-phone"></i><a href="tel:{{setting.phone}}"><span>{{setting.phone}}</span></li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:{{setting.email}}"><span>{{setting.email}}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <section>
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{{ setting.logo.url }}" height="50%" width="30%"></a>
                            </div>
                            </section>
                        </div>
                        <div class="col-lg-7 col-md-9 col-12">
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li><a href="{% url 'home' %}">Home</a></li>

                                        <li><a href="{% url 'services' %}">View Service</a></li>
                                        <li><a href="{% url 'doctor' %}">Doctors</a></li>
                                        <li><a href="{% url 'department' %}">Departments</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12">
                            <div class="get-quote">
                                <a href="{% url 'appointment' %}" class="btn btn-primary">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    
</header>
</section>