{% extends "layouts/master.html" %}
 
{% block title %}
Our Services
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            {% for services in serviceData %}
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="content">
                        <h2>{{ services.title }}</h2>
                        <p>{{ services.description |truncatewords:20}}</p>
                        <div class="button">
                            <a href="{{ services.learn_more_link }}" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <img src="{{ services.image.url }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}