{% extends "layouts/master.html" %}
 
{% block title %}
Our Services
{% endblock %}

{% block content %}
<section class="Emergency-services">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="#" alt="">
            </div>
            <div class="col-md-6">
                <div class="content">
                    <h2>Emergency Services</h2>
                    <p>#</p>
                </div>
                <ul >
                    <h4>Emergency Number</h4>
                    <li >
                        <span><i aria-hidden="true" class="icofont-phone"></i></span>
                        <span>01-5911623</span>      
                    </li>
                    <li >
                        <span><i aria-hidden="true" class="icofont-phone"></i></span>
                        <span>9803111111</span>         
                    </li>
                    <li >
                        <span><i aria-hidden="true" class="icofont-phone"></i></span>
                        <span>9803222222</span>      
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="content">
                        <h2>Immigration Medical Examination</h2>
                        <p>#</p>
                        <div class="button">
                            <a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
                          </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <img src="#" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="content">
                        <h2>Air Evacuation</h2>
                        <p>#</p>
                        <div class="button">
                            <a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <img src="#" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="content">
                        <h2>International Patients</h2>
                        <p>#</p>
                        <div class="button">
                            <a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <img src="#" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="content">
                        <h2>Pharmacy</h2>
                        <p>#</p>
                        <div class="button">
                            <a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <img src="#" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="content">
                        <h2>Rooms</h2>
                        <p>#</p>
                        <div class="button">
                            <a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <img src="#" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}